@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown{
  display: none;
  z-index: 222;
  position: relative;
}

.menu-item:hover .dropdown{
  display: block;
}
.sub-dropdown{
  display: none;
}

.sub-dropdown-button:hover .sub-dropdown{
  display: block;
}
.language-switcher img{
  object-fit: cover;
  width: 20px;
  height: 15px;
}
.swiper-horizontal{
  height: 100%;
}
.mobileMenu {
  background-color: rgb(21 23 132);
  transition: 1s;

    z-index: 2222222222222;
}
.hiddenMenu{
  transform:translateX(100%);
}
.news-item .ant-image{
  height: 100%;
  width: 100%;
}
.news-item .ant-image-img{
  height: 100%;
  object-fit: cover;
}
.showMenu{
  transform:translateX(0%);
}
/*.itemMenus:first-child>span:hover{*/
/*  border-top-left-radius: 10px;*/
/*  border-top-right-radius: 10px;*/
/*}*/
/*.itemMenus:last-child>span:hover{*/
/*  border-bottom-left-radius: 10px;*/
/*  border-bottom-right-radius: 10px;*/
/*}*/